<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859918374588-fbtnpn8hom70bj4vhie2fnft41p9qo0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859918374588-fbtnpn8hom70bj4vhie2fnft41p9qo0r</string>
	<key>API_KEY</key>
	<string>AIzaSyAZZM91Y4fYByF64u4gCnq5ww0kLfHtMUE</string>
	<key>GCM_SENDER_ID</key>
	<string>859918374588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tafsir</string>
	<key>PROJECT_ID</key>
	<string>tafsir-34a99</string>
	<key>STORAGE_BUCKET</key>
	<string>tafsir-34a99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859918374588:ios:398bfb184311739d8562b9</string>
</dict>
</plist>